#footer-div{
    position: absolute;
    height: 80%;
    width: 100%;
    background-color: #3f3f3f;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
.rightarrow{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid orange;
}
/* About Us Div */
.aboutus-div{
    right: 10%;
     position: relative;
 }
 .aboutus-text1{
     color: #fcb712;
     font-size: 1.5rem;
 }
 .aboutus-text2{
     color: white;
 }
 .aboutus-button{
     background-color: transparent;
     border-style: none;
     color: #fcb712;
     margin-left: 50%;
 }
 .aboutus-button:hover{
     border-style:solid;
     border-color: #fcb712;
     padding-top: 10px;
     padding-bottom: 10px;
 }

 /* Quick Links Div */
.quicklinks-div{
    right: 7%;
    position: relative; 
    margin-top: 20px;
   
 }
 .quicklinks-text1{
     color: #fcb712;
     font-size: 1.5rem;
 }
 .quicklinks-links{
     position: relative;
     left: 1.5rem;
 }
 .link1{
     position: relative;
     bottom: 12.2rem;
     text-decoration: none;
     color: white;
 }
 .link2{
     position: relative;
     bottom: 12.5rem;
     text-decoration: none;
     color: white;
 }
 .link3{
     position: relative;
     bottom: 12.7rem;
     text-decoration: none;
     color: white;
 }
 .link4{
     position: relative;
     bottom: 12.9rem;
     text-decoration: none;
     color: white;
 }
 .link5{
     position: relative;
     bottom: 13.1rem;
     text-decoration: none;
     color: white;
 }
 .link6{
     position: relative;
     bottom: 13.4rem;
     text-decoration: none;
     color: white;
 }
 .logobutton1{
     position: relative;
    background-image: url(../../src/images/logo1.png);
    padding: 24px;
    border-radius: 25px;
    border-style: none;
    bottom: 12rem;
    right: .5rem;
 }
 .logobutton2{
     position: relative;
    background-image: url(../../src/images/logo2.png);
    padding: 24px;
    border-radius: 25px;
    border-style: none;
    bottom: 12rem;
    right: .5rem;
 }
 .logobutton3{
     position: relative;
    background-image: url(../../src/images/logo3.png);
    padding: 24px;
    border-radius: 25px;
    border-style: none;
    bottom: 12rem;
    right: .5rem;
 }
 .logobutton4{
     position: relative;
    background-image: url(../../src/images/logo4.png);
    padding: 24px;
    border-radius: 25px;
    border-style: none;
    bottom: 12rem;
    right: .5rem;
 }

 /* Health corner css */
#healthcorner-div{
    position: relative;
    right: 5%;
    bottom: .5%;
}
.healthcorner-text1{
    color: #fcb712;
    font-size: 1.5rem;
}
.healthcorner-text2{
    position: relative;
    left: 8rem;
    color: #fcb712;
    text-decoration: none;
    bottom: 9.7rem;
}
.healthcorner-text3{
    position: relative;
    left: 8rem;
    color: white;
    font-size: 12px;
    bottom: 10.1rem;
}
.healthcorner-btn1{
    position: relative;
    text-decoration: none;
    color: #fcb712;
    font-size: 12px;
    left: 9rem;
    top: 3.5rem;
}
.healthcorner-text21{
    position: relative;
    left: 8rem;
    color: #fcb712;
    text-decoration: none;
    bottom: 7.3rem;
}
.healthcorner-text31{
    position: relative;
    left: 8rem;
    color: white;
    font-size: 12px;
    bottom: 7rem;
}
.healthcorner-btn2{
    position: relative;
    text-decoration: none;
    color: #fcb712;
    font-size: 12px;
    left: 9rem;
    top: 8rem;
}
.healthcorner-img2{
    position: relative;
    bottom: -5rem;
}
/* Contact Us div */
#contactus-div{
    position: relative;
    left: 24%;
}
.contactus-text1{
    color: #fcb712;
    font-size: 1.5rem;
}
.contactus-text2{
    position: relative;
    left: 1.7rem;
    color: white;
    bottom: 2.1rem;
}
.contactus-text3{
    position: relative;
    left: 1.7rem;
    color: white;
    bottom: 4.1rem;
}
.contactus-text4{
    position: relative;
    left: 1.7rem;
    color: white;
    bottom: 6.1rem;
}
.contactus-text5{
    position: relative;
    left: 1.7rem;
    color: white;
    bottom: 8.1rem;
}
.contactus-text6{
    position: relative;
    left: 1.7rem;
    color: white;
    bottom: 9.4rem;
    text-decoration: none;
}
.contactus-text7{
    position: relative;
    left: 1.7rem;
    color: white;
    bottom: 8.4rem;
    text-decoration: none;
}
.mailarea{
    position: relative;
    border-radius: 10px;
    padding: 5px;
    bottom: 5rem;
    border-style: none;
    right: 43%;
}
.contactus-btn1{
    position: relative;
    background-image: url(../images/btn1.png);
    border-radius: 10px;
    height: -20px;
    width: 52px;
    padding: 24px;
    border-radius: 28px;
    bottom: 5.3rem;
    right: 45%;
}
.cimg1{
    bottom: 2rem;
    position: relative;

}
.cimg2{
    bottom: 4rem;
    position: relative;
    
}
.cimg3{
    bottom: 6rem;
    position: relative;
    
}
/* End text  */
#endtext-div{
    position: relative;
}
.p1{
    color: #fcb712;
    position: relative;
    top: 28rem;
    right: 270%;
}
.p2{
    color: #fcb712;
    position: relative;
    top: 25.9rem;
    right: 200%;
}
.p3{
    color: #fcb712;
    position: relative;
    top: 23.7rem;
    right: 70%;
}